.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-neutral-content);
  margin-bottom: 0.25rem;

  .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img {
      margin-right: 6px;
    }

    span {
      margin-left: 0.25rem;
      margin-right: 0.25rem;
    }

    h6 {
      font-size: 0.8rem;
      margin: 0;
    }

    time {
      font-size: 0.8rem;
    }
  }

  .shareButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    z-index: 10;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}
